<?xml version="1.0"?>
<launch>
    
    <!-- GPSR: General Purpose Service Robot demo with ROSPlan -->

    <!-- interfaces -->
    <include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch" >
        <arg name="domain_path" default="$(find gpsr_rosplan_example)/common/pddl/domain.pddl" />
        <arg name="problem_path" default="$(find gpsr_rosplan_example)/common/pddl/problems/problem1.pddl" />
    </include>

</launch>
